* {
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}

body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    outline: none;
    zoom: 1;
}

body {
	display: block;
    margin: 8px;
	min-width: 1024px;
    overflow-x: hidden;
	font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    outline: none;
    zoom: 1;
	background: #f0f0f0;
}

.woman-day {
    background: #ffbeab url(/assets/images/background/bg-v1.png) center top;
}

.woman-day:before {
    content: "";
    background: transparent url(/assets/images/background/bg-top-v3.png) no-repeat center top;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 997px;
}

section {
    display: block;
    max-width: 1200px;
    width: 100%;
    min-width: 980px;
    margin: 55px auto 0;
    position: relative;
	padding-top: 10px;
}

section, .home-menu section, body > .topbanner:first-child, body > div.banner:nth-child(2) {
    margin-top: 80px;
}

.woman-day section {
    z-index: 2;
}

/*home banner */
aside {
    display: block;
}

.homebanner {
    float: left;
    width: 65.834%;
    height: 354px;
    overflow: hidden;
    position: relative;
    background: #f0f0f0;
    margin-bottom: 15px;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}


.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
}
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
#sync1 .item {
    background: #f8f8f8;
    text-align: center;
    height: 300px;
    color: #fff;
}
a {
    text-decoration: none;
}

img {
    border: 0;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.owl-theme .owl-controls {
    margin-top: 0;
    text-align: center;
}

.homebanner .owl-buttons {
    position: absolute;
    top: 38%;
    height: 0;
    width: 100%;
    display: none;
}
.homebanner .owl-buttons {
    position: absolute;
    top: 38%;
    height: 0;
    width: 100%;
    display: none;
}
.homebanner .owl-prev {
    position: absolute;
    left: 10px;
    padding: 12px 0 0;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0,0,0,.3);
    width: 48px;
    height: 40px;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
}
.homebanner .owl-next {
    position: absolute;
    right: 10px;
    padding: 12px 0 0;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0,0,0,.3);
    width: 48px;
    height: 40px;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
}
.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#sync2 {
    display: block;
    width: 100%;
    background: #fff;
    height: 55px;
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

#sync2 .owl-item {
    height: 55px;
    position: relative;
}

#sync2 .item {
    display: table;
    width: 98%;
    vertical-align: middle;
    position: relative;
    background: #fff;
    color: #666;
    text-align: center;
    cursor: pointer;
    height: 55px;
    font-size: 12px;
    padding: 0 1%;
}

#sync2 .owl-item:after {
    content: '';
    float: right;
    height: 30px;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 13px;
    right: 0;
}
/*End home banner */

/*home news*/
.homenews {
    float: right;
    width: 33.2%;
    height: 354px;
    overflow: hidden;
}
figure {
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px; */
}
.homenews figure {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    background: #fff;
}
.homenews figure {
    background-color: transparent;
}

.homenews h2 {
    float: left;
    padding: 10px 20px 10px 10px;
    background: #fdd504;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.homenews h2:after {
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.homenews figure h2:after {
    display: none;
}

.homenews figure h2 {
    background: transparent url(/assets/images/background/24hcongnghe-v2.png) no-repeat left top;
    text-indent: -9999px;
    float: none;
    height: 25px;
}

.homenews h2 a {
    font-weight: 600;
}
ul, ol {
    list-style: none;
}
.homenews ul {
    display: block;
    overflow: hidden;
}
.homenews li {
    display: block;
    padding: 10px 10px 5px;
    border-bottom: 1px solid #ededed;
    background: #fff;
}
.homenews li a {
    display: block;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.homenews li img {
    float: left;
    width: 100px;
    height: 57px;
    margin: 0 10px 0 0;
}
.homenews li h3 {
    display: block;
    overflow: hidden;
    height: 36px;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.homenews li span {
    float: left;
    font-size: 12px;
    color: #999;
    margin-right: 10px;
}
.twobanner {
    display: block;
    overflow: hidden;
}
.twobanner a {
    display: block;
    overflow: hidden;
    margin-top: 6px;
}
.twobanner a img {
    width: 100%;
    height: 110px;
    display: block;
}
/*end home news*/
.clr {
    clear: both;
}
/*promotebanner*/
.promotebanner a {
    display: block;
    position: relative;
    top: -5px;
    height: 80px;
}
/*end promotebanner*/

/*promo*/
.navigat {
    display: block;
    overflow: hidden;
    background: #fff;
}
.navigat {
    background-image: url(/assets/images/background/km-hot.png);
    height: 78px;
    background-color: transparent;
    background-size: auto auto;
    position: relative;
}
.navigat.first:before, .homepromo.weekend:after {
    content: '';
    width: 148px;
    height: 67px;
    background: transparent url(/Content/08-03/car.png) no-repeat left top;
    position: absolute;
    left: 72%;
    bottom: 0;
    animation-name: lefttoright;
    animation-duration: 8000ms;
}
.navigat.first.pin:before, .homepromo.weekend.pin:after {
    left: 20px;
}
.navigat h2 {
    float: left;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    padding: 14px 10px;
    text-transform: uppercase;
}
.navigat h2 {
    display: none;
}
.homepromo {
    clear: both;
    display: block;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 100%;
    border-top: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    height: 351px;
    overflow: hidden;
}
.item2020 {
    height: auto !important;
}
#owl-promo {
    border: 2px solid #feafb7;
    width: calc(100% - 4px);
    border-top: none;
}
.homepromo .item {
    position: relative;
    overflow: hidden;
    max-height: 412px;
}
.homepromo a {
    display: block;
    overflow: hidden;
    background: #fff;
    padding: 10px 0;
}

.homepromo a:hover>img {
	transform: translateY(5px);
	transition: 0.5s;
}
.homepromo a:hover>h3 {
	color: #288ad6;
}

.item2020 a.vertion2020 {
    padding: 10px 0;
}
.item2020 a.vertion2020 .heightlabel {
    overflow: hidden;
    height: 23px;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
.homepromo img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 15px auto;
    transition: all ease 300ms;
}

.homepromo label {
    display: inline-block;
    position: absolute;
    top: 187px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}

.homepromo label.preorder {
    background: #e91e63;
}

.homepromo h3 {
    display: block;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin: 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.homepromo label.installment {
    background: #f28902;
}

.item2020 a.vertion2020 label {
    position: static;
    margin: 0 10px 5px;
    display: inline-block;
    font-weight: unset;
}

.item2020 a.vertion2020 .heightlabel>label.installment {
    background: #fbda00;
    font-size: 11px;
    color: #333;
}

.item2020 a.vertion2020 h3 {
    margin: 0 10px;
    padding: 0;
}

.item2020 a.vertion2020 .props {
    margin: 0 10px;
    padding: 0;
    white-space: unset;
}

.homepromo h6 {
    font-size: 12px;
    color: #d0021b;
    margin: 0 9px 0;
}

.item2020 a.vertion2020 h6.textkm {
    margin: 5px 10px 0;
    font-size: 12px;
    color: #d0021b;
}

.homepromo .promo {
    display: block;
    padding: 0 10px;
    margin: 0 10px 0 0;
    white-space: nowrap;
}

.homepromo .promo:after {
    content: "";
    display: table;
    clear: both;
}

.item2020 a.vertion2020 .promo {
    padding: 0;
    margin: 5px 10px 0;
}

.homepromo .price {
    display: block;
    overflow: hidden;
    padding: 5px 10px 10px 10px;
}

.item2020 a.vertion2020 .price {
    padding: 0;
    margin: 5px 10px 0;
}

.homepromo .promo p {
    font-size: 12px;
    color: #333;
    white-space: normal;
    line-height: 1.4;
    width: 155px;
    float: left;
    margin-left: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.homepromo .promo.noimage p {
    margin-left: 0;
    width: auto;
}

.homepromo strong {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
    color: #bf081f;
    line-height: 15px;
}

.homepromo span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 5px;
    color: #333;
}

.item2020 a.vertion2020 .promo {
    padding: 0;
    margin: 5px 10px 0;
}

.homepromo img.icon-imgNew {
    top: 108px;
    position: absolute;
    left: 69%;
    width: 45px;
    height: auto;
}

.homepromo img.icon-imgNew.cate42 {
    top: 145px;
    left: 64%;
}

.item2020 a.vertion2020 img.icon-imgNew {
    top: 107px;
}

.item2020 a.vertion2020 img.icon-imgNew.cate7077, .item2020 a.vertion2020 img.icon-imgNew.cate42 {
    top: 167px;
    left: 170px;
}
input[type="hidden" i] {
    display: none;
    appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}
.item2020 a.vertion2020 .result-label {
    display: inline-block;
    position: relative;
    border-radius: 15px;
    margin: 0 10px 5px;
    overflow: hidden;
    padding: 0 6px 0 0;
    max-height: 20px;
}
.item2020 a.vertion2020 .result-label.temp3 {
    background: #e91e63;
}


.item2020 a.vertion2020 .result-label>img.imgresult {
    display: inline-block;
    width: auto;
    height: 20px;
    margin: 0;
    vertical-align: middle;
}
.item2020 a.vertion2020 .result-label span {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    color: #fff;
    font-size: 11px;
    font-family: Arial;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    margin-left: 3px;
}

.item2020 a.vertion2020 .ratingresult {
    padding: 0;
    margin: 5px 10px 0;
}

[class^="icontgdd-"], [class*="icontgdd-"], [class^="iconmobile-"], [class*="iconmobile-"] {
    background-image: url(https://cdn.tgdd.vn/v2015/Content/desktop/images/V4/icondesktop2022@1x_edit.png?v=004);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}

[class^="icontgdd-"], [class*="icontgdd-"], [class^="iconmobile-"], [class*="iconmobile-"] {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
}
.item2020 a.vertion2020 .ratingresult i {
    margin: 0;
}
.item2020 a.vertion2020 .ratingresult i.icontgdd-ystar {
    background-position: -295px -30px;
    width: 12px;
    height: 12px;
}
.item2020 a.vertion2020 .ratingresult span {
    color: #777;
    text-decoration: none;
    position: relative;
    top: 1px;
}
.item2020 a.vertion2020 .ratingresult i.icontgdd-gstar {
    background-position: -310px -30px;
    width: 12px;
    height: 12px;
}

.homepromo .price i {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 5px;
    color: #bf081f;
    font-style: normal;
}

.item2020 a.vertion2020 .price i {
    font-size: 12px;
    color: #d0021b;
    margin: 0 5px 0;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
}

.homepromo .owl-buttons {
    position: absolute;
    top: 24%;
    height: 0;
    width: 100%;
    display: block;
}

.homepromo .owl-prev {
    position: absolute;
    left: 0;
    padding: 20px 0 0;
    margin: 0;
    border-radius: 0 5px 5px 0;
    background: #fff;
    width: 34px;
    height: 50px;
    text-align: center;
    font-size: 46px;
    color: #999;
    font-family: -webkit-body;
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 15%);
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
/*end promo*/


/*navigate cat42*/
.navigat {
    display: block;
    overflow: hidden;
    background: #fff;
}
.navigat {
    background-image: url(/assets/images/background/km-hot.png);
    height: 78px;
    background-color: transparent;
    background-size: auto auto;
    position: relative;
}

.navigat.cate42 {
    background-image: url(/assets/images/background/DT-v2.png);
    height: 40px;
}

.navigat h2 {
    float: left;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    padding: 14px 10px;
    text-transform: uppercase;
}

.navigat h2 {
    display: none;
}

.navigat div {
    float: right;
    overflow: hidden;
}

.navigat a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #288ad6;
    padding: 14px 10px;
}

.navigat a {
    padding-top: 15px;
    color: #fff;
    padding-left: 9px;
    padding-right: 9px;
}

.navigat a:hover {
    text-decoration: underline;
    color: #288ad6;
}

.navigat a:hover {
    color: #fff;
}
/*End navigate cat42*/

/*home product*/
ul, ol {
    list-style: none;
}

.homeproduct {
    clear: both;
    display: block;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 100%;
    border-top: 1px solid #eee;
    margin-bottom: 15px;
}

.homeproduct li {
    float: left;
    position: relative;
    width: 19.8%;
    overflow: hidden;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.homeproduct li.feature {
    width: 39.917%;
}

.homeproduct li a {
    display: block;
    overflow: hidden;
    background: #fff;
    padding: 10px 0;
}

.item2020 li.feature a.vertion2020 img {
    width: 480px;
    height: 222px;
    margin: 0 0 10px;
}
.homeproduct li.feature a {
    padding: 0;
}

.homeproduct li img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 15px auto;
}
.homeproduct a>img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.homeproduct li span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 5px;
    color: #333;
}

.homeproduct li h3 {
    display: block;
    line-height: 1.3em;
    font-size: 14px;
    padding: 0 10px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.homeproduct li img.icon-imgNew {
    position: absolute;
    top: 85px;
    left: 69%;
    width: 45px;
    height: auto;
}
.homeproduct li img.icon-imgNew.cate42 {
    top: 144px;
}

.item2020 a.vertion2020 .ratingresult i.icontgdd-hstar {
    background-position: -423px -30px;
    width: 12px;
    height: 12px;
}

.homeproduct a:hover>img {
    margin: 5px auto 25px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.homeproduct li a:hover h3 {
    color: #288ad6;
}

.homeproduct li strong {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
    color: #bf081f;
    line-height: 15px;
}
.item2020 li.feature a.vertion2020 .heightlabel {
    margin-left: 10px;
}
.homeproduct li .promo p {
    font-size: 12px;
    color: #333;
    line-height: 1.4;
    width: 165px;
    float: left;
    margin-left: 10px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.homeproduct li .promo.noimage p {
    margin-left: 0;
    width: auto;
}
.homeproduct li.feature img {
    width: 480px;
    height: 222px;
    margin: 0 0 14px;
}
.homeproduct li label {
    display: inline-block;
    position: absolute;
    top: 187px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}
.homeproduct li label.installment {
    background: #f28902;
}
.homeproduct li.feature label {
    left: auto;
    right: 10px;
    top: auto;
    bottom: 53px;
}
.item2020 a.vertion2020 .heightlabel>label b {
    font-weight: bold;
}
.item2020 li.feature a.vertion2020 .heightlabel>label {
    margin: 0 10px 5px 0;
    vertical-align: middle;
}
/*End home product*/
